{% extends "base.html" %}

{% block content %}
<h1>Country list</h1>
This is demo page which lists countries and some of states/preferectures in USA &amp; Japan.<br />
You can see<br />
<ul>
    <li>How application is added</li>
    <li>How user login system is implemented</li>
    <li>How pagination is implemented</li>
    <li>How common design for pages are implemented</li>
    <li>How initial data can be maded</li>
    <li>How the models can be created and how the data can be gotten through ORM</li>
</ul>
throgh this app.

{% if page_obj %}
    <ul>
    {% for country in page_obj %}
        <li><a href="/geo/countries/{{ country.key }}/">{{ country.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No countries are available.<br />
Please follow instructions of README.md to import default data.<br />
ex.
<pre>
dweb python3 manage.py loaddata geo/fixtures/country.json;
dweb python3 manage.py loaddata geo/fixtures/state.json;
</pre>
    </p>
{% endif %}
 
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
 
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
 
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<hr />
<h2>Others</h2>
<ul>
<li><a href="/admin/">Admin page</a></li>
<li><a href="/accounts/login/">Log in</a></li>
<li><a href="/accounts/signup/">Sign up</a></li>
</ul>
{% endblock %}